body{
    background-color: forestgreen;
}

a{
    display: block;
    text-align: none;
}
.button{
    background-color: forestgreen;
    color: forestgreen;
    font-family: 'Sacramento' cursive;
    border: 1px solid forestgreen;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-size: 80px;
}
.button:hover{
    color:mediumaquamarine;
    background: whitesmoke;
    transition: 1s;
}
.lion{
    position:absolute;
    top: 400px;
    right: 500px;
    bottom: 900px ;
    height: 50%;
}
.picture{
    position: absolute;
    top: 100px;
    right: 200px;
    bottom: 900px;
    height:90%;
}