body{
    background-size: cover;
    background-image: url(img/miffy.png);
    background-color:rgba(255, 255, 255, 0.8);
    background-blend-mode:lighten ;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}






img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
border:9px solid palevioletred;
}

.box17{
    margin: 2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px palevioletred;
    border-bottom: solid 2px palevioletred;

}

.box17::before,.box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
   
    height:calc(100% + 20px);
    background-color:palevioletred;
}

.box17::before{left: 10px;}
.box17:after{right: 10px;}
.box17 p {
    margin: 0;
    padding: 0;

}

li{
    font-size: 25px;
    
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}



h4{
    font-size: 40px;
    
}


.under{
    border-bottom: dotted 2px pink;
}
.box15{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: black;
    background:pink;
    box-shadow: 0px 0px 0px 10px pink;
    border: dashed 2px white;
    border-radius: 8px;
    font-size: 27px;
}

.box15 p{
    margin: 0;
    padding: 0;
}

h5{
    font-size: 40px;
}

header{
align-items: center;
height: 200;
justify-self:space-between;
padding: 10px;
background-color: antiquewhite;
background-size: 1200px;
text-align: center;

}
h1{
    font-size: 45px;
    margin: 20px;
}

select{
    margin: -20px 10px -50px 10px;
    padding: 10px 20px 10px 20px;
    border: 0px none;
}