#container{
    display: grid;
    grid-template-rows: 75px 75px;
    grid-template-columns: 75px 75px 75px;
}

.item{
    border: 1px solid black;
    background-color: lightblue;
}


.parent{
    display: flex;
    border:1px solid black;
    width:500px;
}

.child{
    border: 1px solid black;
    flex:1 1 100px;
}

.big{
    border: 1px solid black;
    flex: 1 1 100px;
}

.parent > .child.medium{
    display:center;
}